### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
player = purchase_data['SN'].value_counts()
total_players = player.count()
print("Number of players: " + str(total_players))

Number of players: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
average_price = purchase_data['Price'].mean()
unique_items = purchase_data['Item ID'].value_counts()
unique_count = unique_items.count()

purchases = purchase_data['Purchase ID'].count()

total_revenue = purchase_data['Price'].sum()

rounded = round(average_price,2)

summary = [{"Unique Number of Items": unique_count, "Average Price": rounded, "Total Number of Purchase": purchases, "Total Revenue": total_revenue}]

df_summary = pd.DataFrame(summary)

df_summary.style.format({'Average Price':"${:,.2f}",
                        'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
gender_group = purchase_data.groupby("Gender")
total_gendercount = gender_group.nunique()["SN"]
percentage_players = round(total_gendercount / total_players * 100, 2)
df_gender = pd.DataFrame({"Total Count": total_gendercount, "Percentage of Players": percentage_players})


df_gender.style.format({"Percentage of Players": "{:,.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
total_purchases = gender_group['Purchase ID'].count()
purchase_price_average = round(gender_group['Price'].mean(),2)
purchase_price_total = gender_group['Price'].sum()
average_price_pp = round(purchase_price_total / total_gendercount, 2)


pg_summary_table = pd.DataFrame({"Total Count": total_purchases,
                                   "Average Purchase Price": purchase_price_average, 
                                 "Total Purchase Price": purchase_price_total,
                                 "Av Price Per Person": average_price_pp})
pg_summary_table.head().style.format({'Average Purchase Price':"${:,.2f}",
                        'Total Purchase Price': '${:,.2f}', 'Av Price Per Person': '${:,.2f}'})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
binnames = ['<10', '10-14', '15-19','20-24', '25-29', '30-34','35-39', '40+']

purchase_data["Age Demo Summary"] = pd.cut(purchase_data["Age"], bins, labels=binnames)



grouped_age = purchase_data.groupby("Age Demo Summary")

age_count = grouped_age['SN'].nunique()
age_percent = round(age_count / total_players * 100, 2)

ag_summary_table = pd.DataFrame({"Total Count": age_count,"Percentage": age_percent})
ag_summary_table.head(10).style.format({'Percentage':"${:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
total_purchasesgroup = grouped_age["Purchase ID"].count()
purchase_price_av_age = round(grouped_age["Price"].mean(),2)
purchase_age_total = grouped_age["Price"].sum()
average_age_pp = round(purchase_age_total / age_count,2)


age_summary_table = pd.DataFrame({"Total Count": total_purchasesgroup,
                                   "Average Purchase Price": purchase_price_av_age, 
                                  "Total Purchase Price": purchase_age_total,
                                  "Av Price Per Person":average_age_pp})
age_summary_table.head(10).style.format({"Average Purchase Price":"${:,.2f}",
                        "Total Purchase Price": '${:,.2f}', "Av Price Per Person": '${:,.2f}'})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
spender_counts = purchase_data["SN"].value_counts()

grouped_spenders = purchase_data.groupby("SN")


purchase_SN_total = grouped_spenders["Price"].sum()
purchase_SN_av = round(grouped_spenders["Price"].mean(), 2)


spenders_df = pd.DataFrame({"Total Count": spender_counts,"Average Purchase Price":purchase_SN_av,
                                       "Total Purchase Value":
                                  purchase_SN_total})
spend_df = spenders_df.sort_values("Total Purchase Value", ascending=False)


spend_df.head(5).style.format({"Average Purchase Price":"${:,.2f}",
                        "Total Purchase Value": '${:,.2f}'})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
item_data = purchase_data[["Item ID", "Item Name", "Price"]]

item_groups = item_data.groupby(["Item ID","Item Name"])

item_count = item_groups["Item ID"].count()
item_price_sum = item_groups["Price"].sum()
item_price = item_price_sum/item_count
 

items_df = pd.DataFrame({"Purchase Count" : item_count,"Price":item_price,  
                       "Total Purchase Value" : item_price_sum})
items_sort = items_df.sort_values("Purchase Count", ascending=False)



items_sort.head(5).style.format({"Price":"${:,.2f}",
                        "Total Purchase Value": '${:,.2f}'})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
items_psort = items_df.sort_values("Total Purchase Value", ascending=False)

items_psort.head(5).style.format({"Price":"${:,.2f}",
                        "Total Purchase Value": '${:,.2f}'})